body{
    background-color: rgb(242, 250, 209);
    color:rgb(0, 0, 0);
    margin-top: 50px;
    margin-left: 75px;
}

h1{
    color:rgb(0, 0, 0);
    text-align: left;
    font-weight: 500;
}

.textedit{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid ;
    border-color: rgb(146, 142, 142);
    padding-left: 10px;

}
button{
    padding: 7px 20px;
    border-radius: 4px;
    border:2px solid rgb(146, 142, 142);
}
.bt{
    padding: 7px 20px;
    border-radius: 4px;
    border:2px solid rgb(146, 142, 142);
}
.UndoContent{
    font-weight: 330;
}
.DoneContent{
    font-weight: 330;
    text-decoration: line-through;
}

