<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <script src="../static/JS/test.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body onload="states()">
        <h1>AngularJS TodoList</h1>
        <input id="input_search" class="textedit_search" type="text" placeholder="Search for..." oninput="btSearch()"/>
        <button id="bt_search" class="bt" onclick="btSearch()">Go!</button>
        <div id="section" class="table">

            <table width="800" id="mytable" cellspacing="8" rules="rows" cellpadding="10">

                    <tr>
                        <th align="left">#</th>
                        <th align="left">Title</th>
                        <th align="center">Control</th>
                    </tr>
               {% for context in contexts %}
                    <tr class="display">
                        <th align="left" class="todoList">{{context["number"]}}</th>
                        <th align="left" class="UndoContent">{{context["content"]}}</th>
                        <th align="center" class="Undo">
                            <div>
                                <input class="bt" type="button" value="Undo" onclick="btDone(this)">
                                <input class="bt" type="button" value="Edit" onclick="btTextToEdit(this)">
                                <input class="bt" type="button" value="Remove" onclick="delRow(this)">
                            </div>
                        </th>
                    </tr>
               {% endfor %}
            </table>
        </div>
        <hr>
        <form method="post">
                {{ form.csrf_token }}
                {{form.content_add(class="textedit_add")}} {{form.submit(class="bt")}}
        </form>
        <div>
            <button class="state_All" id="All" ></button>
            <button class="state_Done" id="Done"></button>
            <button class="state_Active" id="Active"></button>
        </div>
    </body>
</html>